<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineAttendenceSystem</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.shreshta.oas.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileController</display-name>
    <servlet-name>UpdateProfileController</servlet-name>
    <servlet-class>com.shreshta.oas.controller.UpdateProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileController</servlet-name>
    <url-pattern>/UpdateProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllUsersController</display-name>
    <servlet-name>ViewAllUsersController</servlet-name>
    <servlet-class>com.shreshta.oas.controller.ViewAllUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllUsersController</servlet-name>
    <url-pattern>/ViewAllUsersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserController</display-name>
    <servlet-name>AddUserController</servlet-name>
    <servlet-class>com.shreshta.oas.controller.AddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserController</servlet-name>
    <url-pattern>/AddUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarkAttendanceController</display-name>
    <servlet-name>MarkAttendanceController</servlet-name>
    <servlet-class>com.shreshta.oas.controller.MarkAttendanceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarkAttendanceController</servlet-name>
    <url-pattern>/MarkAttendanceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAttendanceController</display-name>
    <servlet-name>AddAttendanceController</servlet-name>
    <servlet-class>com.shreshta.oas.controller.AddAttendanceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAttendanceController</servlet-name>
    <url-pattern>/AddAttendanceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyAttendance</display-name>
    <servlet-name>ModifyAttendance</servlet-name>
    <servlet-class>com.shreshta.oas.controller.ModifyAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyAttendance</servlet-name>
    <url-pattern>/ModifyAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAttendanceController</display-name>
    <servlet-name>UpdateAttendanceController</servlet-name>
    <servlet-class>com.shreshta.oas.controller.UpdateAttendanceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAttendanceController</servlet-name>
    <url-pattern>/UpdateAttendanceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentStatusController</display-name>
    <servlet-name>StudentStatusController</servlet-name>
    <servlet-class>com.shreshta.oas.controller.StudentStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentStatusController</servlet-name>
    <url-pattern>/StudentStatusController</url-pattern>
  </servlet-mapping>
</web-app>